django
gunicorn
pillow
whitenoise
requests
python-decouple
apscheduler
async-timeout            
attrs                   
billiard                
cachetools               
cron-descriptor          
django-filter            
django-timezone-field    
djangorestframework      
google-api-core          
google-api-python-client 
google-auth             
google-auth-httplib2    
googleapis-common-protos 
python-dateutil         
python-decouple       
requests                 
setuptools             
SQLAlchemy             
sqlparse                 